cryptography
uvicorn[standard]
gunicorn
sse_starlette
fastapi
langchain
langserve
gradio_client
pydantic
openai
python-multipart
python-jose[cryptography]
passlib[bcrypt]
langchain-google-genai
pillow
pip-system-certs
num2words 
matplotlib 
plotly 
scipy 
scikit-learn 
pandas 
tiktoken
esprima
natsort
PyGithub
python-magic-bin
python-magic
PyPDF2
